.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.swap-group {
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
  padding: 4px;
}

.swap-group-letter-checkbox-container {
  display: inline-block;
  margin: 2px;
  padding: 3px;
}

.swap-group-letter-checkbox-container input {
  margin-left: 3px;
}

.results {
  flex: 1;
  overflow: auto;
}

.branch {
  margin: 5px 5px 5px 30px;
  box-sizing: border-box;
  border: 3px solid white;
  padding: 5px;
  background-color: blue;
  width: fit-content;
  text-align: right;
}

.branch--with-children {
  background-color: grey;
}

.label {
  display: flex;
  justify-content: space-between;
}

.candidates {
  padding: 4px;
  background-color: white;
}

.remainder {
  margin-left: 50px;
  color: white;
}

.candidate:not(:first-child) {
  margin-left: 10px;
}

.letter--swapped {
  color: red;
}

.continue-button {
  margin-top: 4px;
}

